<div class="p-10">
    <div id="about" class="">About</div>
    <div class="">
        ご訪問いただきありがとうございます。
        ここはエンジニアとにぃのポートフォリオサイトです。
        作ったものをせっかくなら公開しておこうと思い立ち上げました。
        ごゆっくりサイト内を散策してください。
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
</div>